* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a:link{
    text-decoration: none;
}

/* App */
#App {
    background: #efeeee;
}

/* Header */
#navbar {
    z-index: 999;
}

/* HOME PAGE */

#home {
    background: #f1f1f1;
}

#home button {
    padding: 3px 8px;
    border-radius: 10px;
}

/* MAIN PANEL */
#main-panel {
    background: #FFF;
    padding: 3rem;
    margin: 1rem;
    border-radius: 10px 10px 0 0;
}

/* LOGIN PAGE */

#login h1 {
    margin-top: 3rem;
    text-shadow: '2px 7px 5px rgba(0,0,0,0.3);
}

#login Form {
    max-width: 450px;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
}

.main-title {
    font-size: 7rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

/* Comments*/

.reduce-margin-top {
    margin-bottom: -0.7rem;
}

/* STATS */
#stats-panel {
    background: #e4e3e3;
}

#stats-panel .col {
    padding: 5px 0;
    border-left: 0;
	border-right: 1px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #f1f1f1, #cccccc, #f1f1f1) 1 100%;
}

#stats-panel .col:last-child {
	border-right: 0;
}

/* #stats-panel .col {
    border-left: solid 1px black;
}

#stats-panel .col:last-child {
    border-right: solid 1px black;
} */

/* ADMIN PANEL */

#burger-button {
    display: inline-block;
    align-self:flex-end;
    padding: 1px 6px ;
    margin-top: 4rem;
    margin-right: 0.5rem;
    color: #FFF;
    background: none;
    border: solid 1px #FFF;
    border-radius: 5px;
    font-size: 0.8rem;
}

#sidebar {
    background:#15151A; 
    width: 200px;
    height: 100svh;
    margin-top: -5vh;
    position: fixed;
    z-index: 99;
}

#sidebar a {
    color: #FFF;
}

#sidebar li {
    margin: 1.25rem 0 0 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}

#sidebar li:hover {
    background-color: rgb(255,255,255,0.2);
}

.hide-panel {
    position: absolute;
    left: -160px;
    transition: margin-right 4s;
}

/* VOC Overview */



/* Settings */

#settings {
    margin-left: 100px;
}

#agent-list-box {
    padding: 2rem;
    margin: 3rem auto;
    border: solid 1px #FFF;
    border-radius: 0.25rem;
}

#settings button {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
}

#voc-overview button:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}
